*{
    user-select: none;
}

.icon {
    width: 1.25em; height: 1.25em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*控制整个滚动条*/
::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
    height: 10px;
    background-clip: padding-box;
}

/*滚动条两端方向按钮*/
::-webkit-scrollbar-button {
    height: 0;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}